body {
  background-color: #ccd9ff;
  color: #505050;
  font-family: Georgia;
  padding: 0px 100px 0px 100px
}

h1 {
  font-weight: bold;
  text-align: center;
  font-size: 50px;
}

h2 {
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 2px dotted;
}

h3 {
  border-top: 1px solid;
  padding-top: 10px;
}

h4 {
  margin-left: 20px;
  display: inline;
}

h5 {
  margin: 5px 0px 0px 75px;
}

ul {
  margin: 5px 0px 0px 0px;
}

.details {
  margin-left: 80px;
  font-size: 14px;
}

.profileImage {
  display: block;
  margin: 0 auto;
}

.logo {
  display: inline;
  width: 40px;
  margin-left: 10px;
}

p {
  padding-bottom: : 10px;
  font-size: 15px;
}

p span {
  display: block;
}
